POSTGRES_DB=spo-prca-em
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
JWT_SECRET=YOUR_JWT_SECRET
JWT_ISSUER=spo-auth-service
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
MAX_FAILED_ATTEMPTS=5
ACCOUNT_LOCK_DURATION=15
AUTH_PORT=8080
BACKEND_PORT=8081
FRONTEND_PORT=3000