/****** Сценарий для команды SelectTopNRows среды SSMS  ******/
SELECT TOP 1000 [ID_zap]
      ,[RNF]
      ,[N_KA]
      ,[D_NP]
      ,[N_SP]
      ,[DSF]
      ,[K_zajv]
      ,[Data_zap]
      ,[N_form_id]
      ,[Used]
  FROM [AKPU_FO_KA5].[dbo].[ID06_main]