/****** Сценарий для команды SelectTopNRows среды SSMS  ******/
SELECT TOP 1000 [ID_zap]
      ,[RNF]
      ,[N_KA]
      ,[D_NP]
      ,[N_SP]
      ,[DSF]
      ,[I_MSU1]
      ,[I_VD_1]
      ,[I_IK_1]
      ,[VD1_1]
      ,[VD2_1]
      ,[VD3_1]
      ,[IK4_1]
      ,[IK5_1]
      ,[IK6_1]
      ,[IK7_1]
      ,[IK8_1]
      ,[IK9_1]
      ,[IK10_1]
      ,[I_MSU2]
      ,[I_VD_2]
      ,[I_IK_2]
      ,[VD1_2]
      ,[VD2_2]
      ,[VD3_2]
      ,[IK4_2]
      ,[IK5_2]
      ,[IK6_2]
      ,[IK7_2]
      ,[IK8_2]
      ,[IK9_2]
      ,[IK10_2]
      ,[PR_BSSD]
      ,[BSSD1]
      ,[BSSD2]
      ,[PR_ZG]
      ,[PR_otkl_ZG]
      ,[SKIF_6]
      ,[SKL]
      ,[GALS]
      ,[VUSS]
      ,[DIR]
      ,[BND]
      ,[FM]
      ,[ISP_2M]
      ,[SUONA1]
      ,[SUONA2]
      ,[KAN_1]
      ,[KAN_2]
      ,[KAN_3]
      ,[KAN_4]
      ,[KAN_5]
      ,[KAN_6]
      ,[KAN_7]
      ,[KAN_8]
      ,[KVR8_1]
      ,[KVR8_2]
      ,[KVR8_3]
      ,[pr_FOS4]
      ,[pr_3_BRTK]
      ,[Data_zap]
      ,[N_form_id]
      ,[USED]
  FROM [AKPU_FO_KA5].[dbo].[ID02]