/****** Сценарий для команды SelectTopNRows среды SSMS  ******/
SELECT TOP 1000 [id]
      ,[id_zap]
      ,[DN]
      ,[DK]
      ,[pr_MSU]
      ,[pr_BSSD]
      ,[pr_ZG]
  FROM [AKPU_FO_KA5].[dbo].[ID06_k_VD]