/****** Сценарий для команды SelectTopNRows среды SSMS  ******/
SELECT TOP 1000 [id]
      ,[id_zap]
      ,[DN]
      ,[DK]
      ,[TIP]
      ,[reg]
      ,[pr_MSU1]
      ,[pr_VD_MSU1]
      ,[pr_IK_MSU1]
      ,[pr_VD1_1]
      ,[pr_VD2_1]
      ,[pr_VD3_1]
      ,[pr_IK4_1]
      ,[pr_IK5_1]
      ,[pr_IK6_1]
      ,[pr_IK7_1]
      ,[pr_IK8_1]
      ,[pr_IK9_1]
      ,[pr_IK10_1]
      ,[pr_MSU2]
      ,[pr_VD_MSU2]
      ,[pr_IK_MSU2]
      ,[pr_VD1_2]
      ,[pr_VD2_2]
      ,[pr_VD3_2]
      ,[pr_IK4_2]
      ,[pr_IK5_2]
      ,[pr_IK6_2]
      ,[pr_IK7_2]
      ,[pr_IK8_2]
      ,[pr_IK9_2]
      ,[pr_IK10_2]
      ,[pr_otkl_ZG]
  FROM [AKPU_FO_KA5].[dbo].[ID06_TS]